/*----- SIDE BAR -----*/

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;

  color: #fff;
  width: 70px; 
  /*width: 3%;*/
  height: 100%;
  background-image: url('../../images/noisy_net.png');
  float: left;
}

.nav-bar ul {
  list-style: none;

  text-align: center;
}

.nav-bar li {
  margin-top: 20px;
}

.clear {
  clear: both;
}

.sub-menu{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 70px;
  width: 230px;

  float: left;
  width: 10%;
  height: 100%;
  background-color: #eee;
}

.sub-menu ul {
  list-style: none;
}

/* TEST SIDEBAR */
.sub-menu-content{display:none;}
.sunMenu{display:none;}

/*----- POSTING BOARD ----*/
.board-container {
  float: left;  
  height: 100%;

  position: relative;
  margin-left: 300px;
}

/*----- POST IT -----*/

.resize {
  background-color: #29e;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
}

.resize-container {
  width: 240px;
  height: 240px;
}