/*----- SIDE BAR -----*/

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  width: 70px; 
  height: 100%;
  background-image: url('../../images/noisy_net.png');
  float: left;
  z-index: 100000;
}

.nav-bar ul {
  list-style: none;
}

.nav-bar li {
  margin-top: 20px;
}

.clear {
  clear: both;
}

.back {
  color: #fff;
}

.sub-menu {
  position: fixed;
  font-family: 'Raleway', sans-serif;
  top: 0;
  left: 0;
  margin-left: 70px;
  width: 230px;
  float: left;
  height: 100%;
  background-color: #363b41;
  padding-left: 0;
}

.sub-menu h1 {
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  color: #eee;
  text-align: center;
}

.sub-menu h2 {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  color: #eee;
  text-align: center;
}

.sub-menu p {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  color: #eee;
  padding-left: 15px;
}

.sub-menu ul {
  color: #eee;
  list-style: none;
  padding-top: 30px;
  font-size: 1.5em;
  padding-left: 0;
  margin: 0;
}

.sub-menu li {
  line-height:  1.5em;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: 1px solid #3b4148;
}

.sub-menu li:hover {
  line-height:  1.5em;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: 1px solid #363b41;
  background-color: #3b4148;
}


/* HIDDEN SIDEBAR */
.sub-menu-content {
  display:none;
}
#subMenu {
  display:none;
}

/*----- POSTING BOARD ----*/
.board-container {
  float: left;  
  height: 100%;

  position: relative;
  margin-left: 300px;
}

/*----- POST IT -----*/


.resize {
 /* border: 1px solid darkgray;*/
  box-shadow: 10px 10px 5px #888888;
/*  color: white;*/
  font-size: 20px;
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 .3em #656565;
  width: 200px; 
  height: 200px;
  position: absolute;


  /*background-image: 
    linear-gradient(
      #FDF98C, #fdee72
    );*/
}

.resize-container {
/*margin-left: 310px;*/
padding-left: 310px;
max-width: 1200px;
height: 5000px;

}


/*  Move stickers  */
