/*----- SIDE BAR -----*/

.nav-bar {
  color: #fff;
  /* width: 70px; */
  width: 5%;
  height: 100%;
  background-image: url('../../images/moulin.png');
  float: left;
}

.nav-bar ul {
  list-style: none;
}
.nav-bar li {
  margin-top: 20px;
}

.clear {
  clear: both;
}

/*----- POSTING BOARD ----*/
.post-container {
  float: left;  
  width: 95%;
  height: 100%;
}

/*----- POST IT -----*/

.resize {
  background-color: #29e;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;

  /* The width is set in the element's HTML
   * so that it can be read by the resizing
   * function
   */
}

.resize-container {
  width: 240px;
  height: 240px;
}