<nav class="nav-bar">
<!--   <ul>
    <li class="fa fa-plus-circle fa-2x"></li>
    <li class="fa fa-cog fa-2x"></li>
  </ul>
  
 -->
<!-- TEST --> 
  <ul id="menu">
    <a href="javascript: addNote();"><li class="fa fa-plus-circle fa-2x"></li></a>
    <li id="settings" class="fa fa-cog fa-2x"></li>
    <!-- <li class="submenu">Stickers</li>
    <li class="submenu">My Boards</li>
    <li class="submenu">New Board</li> -->
  </ul>

</nav>

<aside class="sub-menu subMenu">
  <ul id="menu-options">
    <li>Stickers</li>
    <li>My Boards</li>
    <li>New Board</li>
  </ul>
</aside>


<!-- TEST POST IT -->
<div class="board-container">

  <div class="resize-container">
      <!-- <div class="resize"> -->
      </div>
  </div>

</div>


<!-- clear nav and board-container floats -->
<div class="clear"></div>