<nav class="nav-bar">

  <ul id="menu">
    <a href="javascript: addNote();"><li class="fa fa-plus-circle fa-2x"></li></a>
    <li id="settings" class="fa fa-cog fa-2x"></li>
  </ul>
<!-- changed id setting to class -->
</nav>

<!-- SUBMENU -->
<aside class="sub-menu subMenu">
  <ul id="submenu">
    <!-- changed below to class -->
    <li data-target="menuSticker" id="option-stickers">Stickers</li>
    <li data-target="menuHistory" id="option-boards">My Boards</li>
    <li data-target="menuNew" id="option-new">New Board</li>
  </ul>
</aside>

<!-- STICKERS MENU-->
<aside class="sub-menu sub-menu-content" id="menuSticker">
  <span class="fa fa-angle-double-left back"></span>
  <h1>Stickers</h1>
  <ul>
    <li><span class="draggable"><a href="javascript: addSticker();" ><img src="../../images/patrick.png" ></span></li></a>
    <li class="draggable"><img src="../../images/all-the-things.png" alt=""></li>
    <li class="draggable"><img src="../../images/done.png" alt=""></li>
    <li class="draggable"><img src="../../images/funny.png" alt=""></li>
    <li class="draggable"><img src="../../images/patrick.png" ></li>
    <li class="draggable"><img src="../../images/done.png" alt=""></li>
    <li class="draggable"><img src="../../images/all-the-things.png" alt=""></li>
    <li class="draggable"><img src="../../images/all-the-things.png" alt=""></li>
  </ul>
</aside>

<!-- History MENU-->
<aside class="sub-menu sub-menu-content" id="menuHistory">
  <span class="fa fa-angle-double-left fa-2x back"></span>
  <h1>Your sites</h1>
  <ul data-target="boards-history"></ul>
</aside>

<!-- NEW BOARD MENU-->
<aside class="sub-menu sub-menu-content" id="menuNew">
  <span class="fa fa-angle-double-left fa-2x back"></span>
  <h1>Create a new board</h1>
  <ul></ul>
</aside>




<div id="inner-dropzone" class="dropzone">

<!-- TEST POST IT -->
  <div class="resize-container">
      <!-- <div class="resize">
      </div> -->
  </div>

</div>


<!-- clear nav and board-container floats -->
<div class="clear"></div>