<nav class="nav-bar">
  <ul>
    <li class="fa fa-plus-circle fa-2x"></li>
    <li class="fa fa-cog fa-2x"></li>
  </ul>
  
</nav>

<div class="clear"></div>

<!-- TEST POST IT -->
<div class="resize-container">
    <div class="resize"
         style="width: 200px; height: 200px">
    </div>
</div>