<nav class="nav-bar">
  <ul>
    <li class="fa fa-plus-circle fa-3x"></li>
    <li class="fa fa-cog fa-3x"></li>
  </ul>
  
</nav>



<!-- TEST POST IT -->
<div class="post-container">
  <div class="resize-container">
      <div class="resize"
           style="width: 200px; height: 200px">
      </div>
  </div>
</div>

<div class="clear"></div>