</body>
<br>
<br>
<br>
<br>
<div class="small-8 small-centered columns">
  <img src="../../images/landing_page.png" >
</div>
<div class="small-6 small-centered columns">
  <br>
  <br> 
  <p class="text-center">Go to a New Board</p>  
    <form action="/goto/custom_url" method="POST">  
      
      <div class="small-3 columns">
       <span class="prefix" style="width: 130%">onlinepostit.com/</span>
      </div>
    
      <div class="small-7 columns">
        <label>
          <input type="text" name="custom_url" placeholder=" Enter Anything and Go!" style="width: 120%"/>
        </label>
      </div>
      <div class="small-2 columns">
        <input type="submit" class="button postfix" value="Go">          
      </div>   
      
    

    </form>
    <br>
      <p class="text-center" style="margin-left: 80px">or</p>
    <div class="small-12 columns">
     <a href="/goto/random/page" class="button expand [radius round]">Generate a Random Board and Go!</a>
    </div>
  </div>

    <!-- <div class="row collapse">
      <p class="large-4 columns test-table">
        test
      </p>
      <p class="large-4 columns test-table">
        test
      </p>
      <p class="large-4 columns test-table">
        test
      </p>
    </div> -->

</body>







<nav class="nav-bar">

  <ul id="menu">
   <!--  <a href="javascript: addNote();bindPostListeners();addNoteToDB();"><li class="fa fa-plus-circle fa-2x"></li></a> -->
    <li id="settings" class="fa fa-cog fa-2x"></li>
  </ul>
<!-- changed id setting to class -->
</nav>

<!-- SUBMENU -->
<aside class="sub-menu" id="subMenu">
  <ul id="submenu">
    <!-- changed below to class -->
    <li data-target="menuSticker" id="option-stickers">Stickers</li>
    <li data-target="menuHistory" id="option-boards">My Boards</li>
    <li data-target="menuNew" id="option-new">New Board</li>
  </ul>
</aside>

<!-- STICKERS MENU-->

<aside class="sub-menu sub-menu-content" id="menuSticker">
  <p class="back"><span class="fa fa-angle-double-left "></span>&nbsp;Back to menu</p>
  <h1>Stickers</h1>
  <ul>
    <li>
      <div class="draggable">
        <a href="javascript: addSticker();" >
          <img src="../../images/don_thumbs_up.png" >
        </a>
      <div>
    </li>
    <li>
      <div class="draggable">
        <a href="javascript: addSticker();">
          <img src="../../images/patrick.png" >
        </a>
      <div>
    </li>
    <li>
      <div class="draggable">
        <a href="javascript: addSticker();" >
          <img src="../../images/all-the-things.png" >
        </a>
      </div>
    </li>
    <li>
      <div class="draggable">
        <a href="javascript: addSticker();" >
          <img src="../../images/done.png" >
        </a>
      </div>
    </li>
    <li>
      <div class="draggable">
        <a href="javascript: addSticker();" >
          <img src="../../images/funny.png" >
        </a>
      </div>
    </li>
    <li>
      <div class="draggable">
        <a href="javascript: addSticker();" >
          <img src="../../images/patrick.png" >
        </a>
      </div>
    </li>
    <li>
      <div class="draggable">
        <a href="javascript: addSticker();" >
          <img src="../../images/done.png" >
        </a>
      </div>
    </li>
    <li>
      <div class="draggable">
        <a href="javascript: addSticker();" >
          <img src="../../images/all-the-things.png" >
        </a>
      </div>
    </li>
    <li>
      <div class="draggable">
        <a href="javascript: addSticker();" >
          <img src="../../images/all-the-things.png" >
        </a>
      </div>
    </li>
  </ul>
</aside>

<!-- <aside class="sub-menu sub-menu-content" id="menuSticker">
  <span class="fa fa-angle-double-left fa-2x back"></span><h1>Stickers</h1>
  <ul>
    <li class="draggable"><a href="javascript: addSticker();" ><img src="../../images/patrick.png" ></a></li>
    <li class="draggable"><img src="../../images/all-the-things.png" alt=""></li>
    <li class="draggable"><img src="../../images/done.png" alt=""></li>
    <li class="draggable"><img src="../../images/funny.png" alt=""></li>
    <li class="draggable"><img src="../../images/patrick.png" ></li>
    <li class="draggable"><img src="../../images/done.png" alt=""></li>
    <li class="draggable"><img src="../../images/all-the-things.png" alt=""></li>
    <li class="draggable"><img src="../../images/all-the-things.png" alt=""></li>
  </ul>
</aside> -->

<!-- History MENU-->
<aside class="sub-menu sub-menu-content" id="menuHistory">
  <p class="back"><span class="fa fa-angle-double-left "></span>&nbsp;Back to menu</p>
  <h1>My boards</h1>
  <ul>
  <% if !@board_history.empty? %>
    <% @board_history.reverse_each do |address| %>
      <li><a href=<%= address %>><h2><%= address %></h2></a></li>
    <% end %>
  <% end %>
  </ul>  
  <ul data-target="board_history"></ul>
</aside> 

<!-- NEW BOARD MENU-->
<aside class="sub-menu sub-menu-content" id="menuNew">
  <p class="back"><span class="fa fa-angle-double-left "></span>&nbsp;Back to menu</p>
  <h1>Go to a New Board</h1>
  <br>
  <form action="/goto/custom_url" method="POST">  
    <div class="small-9 columns">
      <label>
        <input type="text" name="custom_url" placeholder=" Enter Anything and Go!" style="width: 122%"/>
      </label>
    </div>
    <div class="small-3 columns">
    <input type="submit" class="button postfix" value="Go">          
    </div>    
  </form>
  <br>
  <ul>
  <h2>Or</h2>
  <div class="small-12 columns">
    <a href="/goto/random/page" class="button expand [radius round]">Generate a Random Board and Go!</a>
  </div>
</aside>




<div id="inner-dropzone" class="dropzone">

<!-- TEST POST IT -->
  <div class="resize-container">
      <!-- <div class="resize">
      </div> -->
  </div>

</div>


<!-- clear nav and board-container floats -->
<div class="clear"></div>


